body {
  width: 320px;
  background-color: #f8f8f8;
  font-family: "TT Lakes";
}

@font-face {
  font-family: "TT Lakes";
  src: url(../font/TTLakes-Regular.eot) format("eot"),
    url(../font/TTLakes-Regular.ttf) format("ttf"),
    url(../font/TTLakes-Regular.woff) format("woff");
  font-style: normal;
}

@font-face {
  font-family: "TT Lakes";
  src: url(../font/TTLakes-Medium.eot) format("eot"),
    url(../font/TTLakes-Medium.ttf) format("ttf"),
    url(../font/TTLakes-Medium.woff) format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "TT Lakes";
  src: url(../font/TTLakes-Bold.eot) format("eot"),
    url(../font/TTLakes-Bold.ttf) format("ttf"),
    url(../font/TTLakes-Bold.woff) format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "TT Lakes";
  src: url(../font/TTLakesCompressed-Regular.eot) format("eot"),
    url(../font/TTLakesCompressed-Regular.ttf) format("ttf"),
    url(../font/TTLakesCompressed-Regular.woff) format("woff");
  font-weight: 800;
}
.header__buttons {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.header__button {
  border: none;
  background: none;
  cursor: pointer;
}

.header__logo {
  border: none;
  background: none;
}

.title {
  padding-left: 7px;
  cursor: pointer;
  font-weight: 700;
}
.title:hover {
  border-left: 4px solid #41f6d7;
  transition: 0.1s;
}

.slidebar {
  display: flex;
}

.slidebar__item {
  color: #7e7e82;
  cursor: pointer;
}

.slidebar__item :hover {
  color: black;
  border: 2px solid #b8ffec;
  border-radius: 6px;
}

.service__bttn {
  display: flex;
  cursor: pointer;
  padding-top: 15px;
}
.service__bttn-descr {
  font-weight: 500;
}

*,
*::before *::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

.wrapper {
  min-height: 100%;
  position: relative;
  overflow: hidden;
}

.content {
  max-width: 320px;
  margin: 0px auto;
}

.tabs__items {
  display: flex;
}

.tabs__item {
  flex: 0 1 33.333%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #7e7e82;
  text-decoration: none;
}

.tabs__block {
  padding: 20px;
  font-size: 18px;
  line-height: 24px;
  display: none;
}

.tabs__block:nth-child(2) {
  background-color: #e8e8e8;
}
.tabs__block:nth-child(3) {
  background-color: #e8e8e8;
}

.tabs__block:target {
  display: block;
}
